<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-12-10T23:34:55Z</date>
	<key>WorkspacePath</key>
	<string>/Users/michaelqu/expense_manager_fe/ios/expense_manager_fe.xcworkspace</string>
</dict>
</plist>
